/** GLOBAL **/
body {
    font-family: "Comic Sans MS";
    background-image: url("/static/images/pool_background.jpg");
    box-sizing: border-box;
    margin: 10px;
}


/* dimensions for player images */
img {
    width: 310px;
    height: 180px;
}


/* dimensions for flags */
.flag img {
    width: 174px;
    height: 101px;
}


/* dimensions for flags next to player names */
.icon img {
    width: 62px;
    height: 36px;
}


/* ensures all links are not underlined */
/* gets rid of default links */
a {
    color: rgb(0,0,0);
    text-decoration: none;
}


/* zooms in on links when hovered on */
.zoom:link {
    transition: transform .05s;
}

.zoom:hover, .zoom:active  {
    transform: scale(1.1);
}


/* website header */
header {
    background-color: rgb(10, 125, 193);
    position: fixed;
    /* ensures it goes above the content */
    z-index: 3;
    top: 0px;
    left: 0px;
    width: 100%;
}

header h1 {
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    /* changes font for the title of the website */
    font-family: "Century Gothic";
    font-size: 45px;
    color: rgb(240,240,240);
}


/* navigation menu */
.nav {
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    justify-content: center;
    background-color: rgb(165, 244, 244);
    border: 15px solid rgb(10, 125, 193);
    border-top: 0px;
    top: 0;
}

.nav a:link {
    float: left;
    display: block;
    padding: 20px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    transition: transform .05s;
}

.nav a:hover, a.active {
    /* changes colour of nav when hovered on */
    background-color: rgb(10, 125, 193);
    color: rgb(240,240,240);
    transform: scale(1.1);
}


/* used in the layout.html template for consistency */
.main {
    display: flex;
    justify-content: center;
    margin: auto;
    overflow: hidden;
    margin-top: -15px;
    margin-bottom: -45px;
}

/* inside main --> visible box with main content inside it */
.container {
    background-color: rgb(165, 244, 244);
    margin: auto;
    width: 80%;
    margin-top: 0px;
}


/* back button */
.back {
    text-decoration: none;
    position: absolute;
    > button h2 {
        font-size: 15px;
    }
    display: inline-block;
    text-align: center;
    padding: 25px 5px;
}

.back button:link {
    background-color: rgb(165, 244, 244);
    color: rgb(0, 0, 0);
}

.back button:hover, button:active {
    /* changes appearance of cursor */
    cursor: pointer;
    background-color: rgb(165, 244, 244);
    color: rgb(0,0,0);
}


/* individual page headings and titles inside container */
/* heading for the entire individual page */
.subheading {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: -10px;
}

/* subheading for the subheading */
/* eg. heading for 'Current National Team:' */
.subheading1 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 5px;
    margin-bottom: -15px;
}


/* flex box structure that allows the content to line up */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    > .column {
        padding: 30px;
        padding-top: 0px;
    }
}

.column h2, h3, h4 {
    /* centres all the text in the flex box rows/columns */
    text-align: center;
}


/* css for copyright banner on images when hovered on */
/* adapted from https://www.w3schools.com/howto/howto_css_image_overlay_title.asp */
.overlay {
    position: relative;
    width: 310px;
    text-align: center;
}

.hovercaption {
    position: absolute;
    bottom: 5px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    max-width: 310px;
    width: 310px;
    transition: .5s ease;
    opacity:0;
    color: rgb(255,255,255);
    text-align: center;
}

.hovercaption p {
    /* makes size of the copyright caption smaller
        so that it is not in the way of the image when
        the user hovers on the image */
    font-size: 6px;
}

.overlay:hover .hovercaption {
    opacity: 1;
}


/* css for image carousel on home page */
/* adapted from https://www.w3schools.com/howto/howto_js_slideshow.asp */
.slidesfade {
    display: none;
}

/* dimensions of images used on home page in carousel */
.photo img {
    vertical-align: middle;
    width: 810px;
    height: 540px;
}

.slideshow-container {
    max-width: 810px;
    position: relative;
    margin: auto;
    margin-top: 80px;
}

/* arrows for moving image carousel along */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: rgb(255,255,255);
    font-weight: bold;
    font-size: 18px;
    /* image fades into next */
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0,0,0,0.5);
}

.next {
    /* positions next arrow on the right of the image */
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
.prev:hover, .next:hover {
    /* gets darker on hover */
    background-color: rgba(0,0,0,0.8);
}

/* copyright just for images on carousel */
.copyright {
    color: #f2f2f2;
    background: rgba(0, 0, 0, 0.5);
    font-size: 15px;
    padding: 10px 0px;
    position: absolute;
    bottom: 0px;
    width: 810px;
    text-align: center;
}

/* number in top left of image carousel */
/* tells user how many images there are */
.number {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* dots underneath the image carousel */
/* visually represent where the user is at in the carousel */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: rgba(0,0,0,0.8);
}


/* brief description about waterpolo on home page */
.content {
    /* positions the text away from the edge of the container */
    /* ensures better alignment */
    margin: 10%;
    margin-top: 20px;
    margin-bottom: 25px;
}


/* CSS for alignment of images on 'Players' page */
.image-stack::after {
    content: ' ';
    display: table;
    clear: both;
}

/* player image CSS on 'Players' page */
.image-stack_bottom {
    align-items: center;
    padding-top: 0%;
}

/* flag image CSS on 'Players' page */
.image-stack_flag {
  float: left;
  position: relative;
  /* positions flag in bottom left corner of player image */
  margin-left: 0%;
  margin-top: -16%;
  /* positions flag on top of player image */
  z-index: 1;
  /* makes dimensions of flag smaller */
  > img {
    width: 77.5px;
    height: 45px;
  }
}


/* css for error page */
.error{
    > h1 {
        float: left;
        margin: 30px;
        margin-left: 300px;
    }
    > h2 {
        float: left;
        margin-top: 100px;
        margin-left: -280px;
    }
    > img {
        float: right;
        margin: 30px;
        margin-right: 300px;
        height: 300px;
        background-color:rgba(255, 49, 49, 0.777);
        /* makes image round */
        border-radius: 200px;
    }
}


/* css for footer displayed in layout */
footer {
    background-color: rgb(10, 125, 193);
    position: absolute;
    left: 0px;
    width: 100%;
    > h3 {
        color: rgb(240,240,240);
        margin-left: 50px;
        padding-bottom: 200px;
    }
}


/* 'Position' description on 'indiv_position' route */
.description p {
    text-align: center;
    margin-top: 30px;
}