{% extends "layout.html" %}

{% block title %}
<div class="back"> <button onclick="history.back()"> <h2> &laquo; Back </h2> </button> </div>
{% endblock %}

{% block content %}
<div class="subheading">
    <div class="row">
        {% for item in country %}
        <div class="column">
            <h2> {{item[1]}} </h2> <img src ="{{item[2]}}">
        </div>
        {% endfor %}
    </div>
</div>

<div class="subheading"> <h2> Current National Team: </h2> </div>
<div class="row">
    {% for item in national_team %}
    <div class="column">
        <div class="zoom">
            <h2> <a href = "/player/{{item[4]}}"> {{item[0]}} {{item[1]}} <br> <img src = "{{item[2]}}"> </a> </h2>
        </div>
    </div>
    {% endfor %}
</div>

<div class="subheading"> <h2> Former Team Members: </h2> </div>
<div class="row">
    {% for item in former_team %}
    <div class="column">
        <div class="zoom">
            <h2> <a href = "/player/{{item[4]}}"> {{item[0]}} {{item[1]}} <br> <img src ="{{item[2]}}"> </a> </h2>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}