{% extends "layout.html" %}
{% block content %}
<h2>description about waterpolo</h2>

<div class="slideshow-container">

    <div class="mySlides fade">
      <div class="number">1 / 5</div>
      <div class="photo"> <img src="/static/images/waterpolo1.jpg"> </div>
      <div class="text">Photo © Catharyn Hayne</div>
    </div>
    
    <div class="mySlides fade">
      <div class="number">2 / 5</div>
      <div class="photo"> <img src="/static/images/teamUSA.jpg"> </div>
      <div class="text">Photo © Legado (https://www.flickr.com/photos/lima2019juegos/51926072662/), https://creativecommons.org/licenses/by-nc-sa/2.0/legalcode</div>
    </div>
    
    <div class="mySlides fade">
      <div class="number">3 / 5</div>
      <div class="photo"> <img src="/static/images/pool.jpg"> </div>
      <div class="text">Photo © Legado (https://www.flickr.com/photos/lima2019juegos/51924869839/), https://creativecommons.org/licenses/by-nc-sa/2.0/legalcode</div>
    </div>

    <div class="mySlides fade">
        <div class="number">4 / 5</div>
        <div class="photo"> <img src="/static/images/attack.jpg"> </div>
        <div class="text">Photo © Legado (https://www.flickr.com/photos/lima2019juegos/51924537736/), https://creativecommons.org/licenses/by-nc-sa/2.0/legalcode</div>
    </div>
    
    <div class="mySlides fade">
        <div class="number">5 / 5</div>
        <div class="photo"> <img src="/static/images/save.jpg"> </div>
        <div class="text">Photo © Legado (https://www.flickr.com/photos/lima2019juegos/51923560867/in/photostream/), https://creativecommons.org/licenses/by-nc-sa/2.0/legalcode</div>
    </div>
    
    <a class="prev" onclick="plusSlides(-1)"> &#8592; </a>
    <a class="next" onclick="plusSlides(1)"> &#8594; </a>
    
</div>
<br>

<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span> 
    <span class="dot" onclick="currentSlide(2)"></span> 
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
    <span class="dot" onclick="currentSlide(5)"></span>
</div>

{% endblock %}