<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel = "stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <header>
            {% include "header.html" %}
            {% include "nav.html" %}
        </header>
        <br><br><br><br><br><br><br><br><br>
        {% block title %}{% endblock %} <!-- for back button -->
        <div class="main">
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </div>
        <br><br>
        <script src="/static/js/interact.js"></script> <!-- javascript for home -->
    </body>
    <footer>
        {% include "footer.html" %}
    </footer>
</html>