{% extends "layout.html" %}
{% block content %}

{% for item in player %}
    <h2> {{item[0]}} {{item[1]}} <br> <img src = "{{item[2]}}"/> <br> 
        {{item[0]}} {{item[1]}} plays waterpolo for {{item[7]}} National Waterpolo Team.
        She is {{item[4]}}cm tall and weighs {{item[3]}}kg.
        <br><br>
    
    {% if item[5] <!-- what condition can be used?? --> %}  
        She is ranked #{{item[5]}} out of the best 10 female waterpolo players in the world.
    {% endif %}
    
        <br><br>
        Most of the time she plays as cap number {{item[6]}}. <br>
        <a href = "/player/{{item[0]}}"> {{item[7]}}</a> <br> <img src = "{{item[8]}}"/> </h2>
{% endfor %}

{% endblock %}