{% extends "layout.html" %}

{% block title %}
<div class="back"> <button onclick="history.back()"> <h2> &laquo; Back </h2> </button> </div>
{% endblock %}

{% block content %}

<div class="subheading">
    <div class="row">
    {% for item in position %}
        <div class="column">
            <h2> {{item[0]}} </h2>
            <div class="overlay">
                <img src = "{{item[1]}}"/>
                <div class="hovercaption"> 
                    <p>{{item[3]}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="description">
    <p> {{item[2]}} </p>
    {% endfor %}
</div>


<div class="row">
    {% for item in position_players %}
    <div class="column">
        <div class="zoom">
            <h2><a href = "/player/{{item[4]}}"> {{item[0]}} {{item[1]}} </h2>
            <div class="image-stack">
                <div class="image-stack_bottom">
                <img src="{{item[2]}}">
                </div>
                <div class="image-stack_flag">
                    <img src="{{item[3]}}">
                </div>
            </a>
            <br>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}